* {
  box-sizing: border-box;
}
body {
    margin: 0;
    font-family: helvetica;
}

header {
    width: 100%;
    height: 60px;
    background-color: #9ACDA2;
    display: flex;
    flex-direction: row;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: 100%;
    height: 40px;
    margin-left: 20px;
}

.logo-container img {
	width: 200px;
	height:40px;
}

nav {
   width: 500px;
   height:50px;
   display: flex;
   justify-content: space-between;
   padding-top: 18px;
   padding-right: 20px;
}

.links a {
    font-size: 18px;
    padding-right: 3px;
    color: white;
    text-decoration: none;
}

/*SOFI*/

.page {
    padding: 10px;
}

.profile-container {
    background-color: #69B18F;
    width: 100%;
    height: 130px;
    display: flex;
    flex-flow: center;
    justify-content: space-between;
}

.profile-pic {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
}

.profile-pic img {
	width: 100px;
	height: 100px;
}
.personal-info {
    display: inline-block;
    margin-left: 140px;
    margin-top: 10px;
    padding: 5px;
    width: 500px;
    height: 95px;
    font-size: 16px;
  	font-weight: bold;
  	color: white;
}

.logos {
    width: 100px;
    height: 40px;
    display: inline-block;
    position: relative;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 40px;
    float: right;
}

.git-logo {
    width: 36px;
    height: 36px;
    display: inline-block;
    float: right;
}

.link-logo {
    width: 36px;
    height: 36px;
    display: inline-block;
    float: right;
    margin-right: 5px;
}

.slider {
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    width: 100%;
}


/*Paula*/

.main-header-container {
    margin: 0 auto;
    margin-top: 2px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding-top: 10px;
}

.header-container {
    width: 100%;
    height: 150px;
    margin: auto;
    display: inline-block;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.img-container {
    height: 120px;
    width: 120px;
    float: left;
    padding-top: 2px;
		padding-left: 20px; 
  }

.img-container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.text-container {
    min-width: 250px;
    max-width: 200px;
    height: 150px;
    float: right;
    text-align: left;
}

.text-title {
    color: black;
    width: 100%;
    display: inline-block;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

.text-inside {
    text-align: left;
    display: inline-block;
    font-size: 12px;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #96CFCE;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.mail {
   margin-left: 30px;
   margin-top: 10px;
   color: white;
   text-decoration: none;
}
.div-logos {
  width: 128px;
  height: 36px;
  display: flex;
  justify-content: space-between; 
  margin-right: 30px;

}
.img-footer-container {
  width: 36px;
  height: 36px;

}
.img-footer-container img {
  width: 100%;
  height: auto;
}
