body {
margin:0;

}
.main-header-container {
min-width: 1600px;
max-width: 1600px;
height: auto;
margin:auto;
margin-top: 5px;
}
.header-container {
min-width: 510px;
max-width: 510px;
height: auto;
margin:auto;
display: inline-block;
background-color: purple;
padding: 10px;
}
.img-container {
height: 150px;
width: 150px;
float: left;
}
.img-container img {
width: 100%;
height: auto;
}
.text-container {
min-width: 300px;
max-width: 300px;
height: auto;
float: right;
}
.text-title {
color: #FFF;
width: 100%;
display: inline-block;
text-align: center;
}
.text-inside {
text-align: center;
display: inline-block;
}
#mail {
	float: left;
}
.logos-container {
	max-width: 1600px;
	min-width: 1600;
	margin:auto;

}
.logos-container img {
	width: 4%;
	height:auto;
	margin-top: 0px;
	float: right;
	display: inline-block;
	margin: 5px;

}
